#### COMPANION WORKBOOK

# Data Wrangling

To make the most out of this program, we strongly recommend you to:
1. First practice writing and implementing all of the code from Coding Section of the online module.
2. Then, freely experiment with and explore any interesting or confusing concepts. Simply insert new code cells and then use the help of Google and official documentation.
3. Finally, tackle all of the exercises at the end. They will help you tie everything together and **learn in context.**

#### <span style="color:#555">MODULE CODE SANDBOX</span>

Use this space to practice writing and implementing all of the code from Coding Section of the online module. Insert new code cells as needed, and feel free to write notes to yourself in Markdown.

## I. Prep Work

## II. Transaction-Level Data Cleaning

## III. Customer-Level Feature Engineering

## IV. Intermediary Levels & Multi-Index Group-By

#### <span style="color:#555">EXERCISES</span>

Complete each of the following exercises.

## <span style="color:RoyalBlue">Exercise 1.1 - Coding Section Checkpoint</span>

Before moving on, it's imperative that you've been following along the online Coding Section of this module. Those are core to each module and often contain **mission-critical code**, which means that the following modules REQUIRE you to have run that code.

#### A.) First, confirm that you have a clean transaction-level dataframe. Display the first 5 observations from <code>clean_tx_df</code>.
* Do you have a <code>Sales</code> column?

<strong style="color:RoyalBlue">Expected output:</strong>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>InvoiceNo</th>
      <th>StockCode</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>InvoiceDate</th>
      <th>UnitPrice</th>
      <th>CustomerID</th>
      <th>Country</th>
      <th>Sales</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>536370</td>
      <td>22728</td>
      <td>ALARM CLOCK BAKELIKE PINK</td>
      <td>24</td>
      <td>12/1/10 8:45</td>
      <td>3.75</td>
      <td>12583</td>
      <td>France</td>
      <td>90.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>536370</td>
      <td>22727</td>
      <td>ALARM CLOCK BAKELIKE RED</td>
      <td>24</td>
      <td>12/1/10 8:45</td>
      <td>3.75</td>
      <td>12583</td>
      <td>France</td>
      <td>90.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>536370</td>
      <td>22726</td>
      <td>ALARM CLOCK BAKELIKE GREEN</td>
      <td>12</td>
      <td>12/1/10 8:45</td>
      <td>3.75</td>
      <td>12583</td>
      <td>France</td>
      <td>45.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>536370</td>
      <td>21724</td>
      <td>PANDA AND BUNNIES STICKER SHEET</td>
      <td>12</td>
      <td>12/1/10 8:45</td>
      <td>0.85</td>
      <td>12583</td>
      <td>France</td>
      <td>10.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>536370</td>
      <td>21883</td>
      <td>STARS GIFT TAPE</td>
      <td>24</td>
      <td>12/1/10 8:45</td>
      <td>0.65</td>
      <td>12583</td>
      <td>France</td>
      <td>15.6</td>
    </tr>
  </tbody>
</table>

#### B.) Display the number of missing values in <code>clean_tx_df</code>. Are there still any?

#### C.) After confirming part (A) and (B), save your cleaned transaction-level data as <code style="color:crimson">cleaned_transactions.csv</code>.
* We'll return to this in <span style="color:royalblue">Modules 2 and 3</span> to create the features for individual items.
* Remember to set <code style="color:steelblue">index=None</code> to save only the data and not the auto-generated index.

#### D.) Confirm that you've successfully created <code>invoice_data</code>. What is the average number of total transactions by customers in the dataset?

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
3.710144927536232
</pre>

#### E.) Finally, confirm that you've successfully created <code>cart_data</code>. What is the average cart value in the dataset?

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
609.8249414062511
</pre>

## <span style="color:RoyalBlue">Exercise 1.2 - Transaction-Level Exploration</span>

Even though we want customer-level data for our ABT, it's still helpful to do some basic exploratory analysis at the transaction level.

There are 3 things we've found very helpful to check.
1. Shape of the dataset... to know how many observations you have.
2. First 10 observations... to get a qualitative "feel" for the data.
3. Distribution of transactions by country... to see the current "clusters."

These will give us guideposts for data wrangling.

#### A.) First, display the shape of the dataset.

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
(35116, 8)
</pre>

Remember, these observations are transactions, not customers!

#### B.) Next, display the first 10 observations from the dataset.

#### C.) Here are some questions to consider.
* In the first 10 observations, how many different customers are there?
* How many different invoices are there?
* Given answers to the first two questions, how many unique purchases are shown?
* Technically, aren't these observations actually **line-items** within each transaction?
* Do you expect the customer-level dataset to be much smaller?

#### D.) Finally, display the distribution of transactions by country.

As you can see, there are many **sparse classes**. Countries like Lithuania, Brazil, and even the USA have a tiny number of transactions.
* Plus, remember, this is at the transaction/line-item level. 
* The number of customers for each country is even smaller because each customer has multiple transactions!
* Therefore, it's plain to see that clustering by country is not very efficient.

## <span style="color:RoyalBlue">Exercise 1.3 - Customer-Level Aggregations</span>

In the Coding Section, you learned how to aggregate invoice data by customer. We then engineered one new feature called <code>'total_transactions'</code>.

#### A.) Next, using the same technique, aggregate product data by customer. Engineer 2 features:
* <code style="color:steelblue">'total_products'</code> - the total number of products purchased by each customer (not the unit Quantity within each product!).
* <code style="color:steelblue">'total_unique_products'</code> - the number of unique products purchased by each customer.
* **Hint:** you'll want to use the Item ID column (i.e. StockCode) after your groupby!
* Let's name it <code style="color:crimson">product_data</code>.

<strong style="color:RoyalBlue">Expected output:</strong>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>total_products</th>
      <th>total_unique_products</th>
    </tr>
    <tr>
      <th>CustomerID</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12347.0</th>
      <td>182</td>
      <td>103</td>
    </tr>
    <tr>
      <th>12348.0</th>
      <td>31</td>
      <td>22</td>
    </tr>
    <tr>
      <th>12349.0</th>
      <td>73</td>
      <td>73</td>
    </tr>
    <tr>
      <th>12350.0</th>
      <td>17</td>
      <td>17</td>
    </tr>
    <tr>
      <th>12352.0</th>
      <td>85</td>
      <td>59</td>
    </tr>
  </tbody>
</table>

By definition, <code style="color:steelblue">'total_unique_products'</code> should always be less than or equal to <code style="color:steelblue">'total_products'</code>.

#### B. Confirm that all customers'  <code style="color:steelblue">'total_unique_products'</code> are less than or equal to their corresponding <code style="color:steelblue">'total_products'</code>.
* Tip: There are multiple ways correct to confirm this. We've included one way in the Answer Key.

#### C.) Finally, aggregate sales data by customer. Engineer 2 features:
* <code style="color:steelblue">'total_sales'</code> - the total sales for each customer.
* <code style="color:steelblue">'avg_product_value'</code> - the average value of the products purchased by the customer (not the UnitPrice!).
* **Hint:** you'll want to use the Sales column after your groupby!
* Let's name it <code style="color:crimson">sales_data</code>.

<strong style="color:RoyalBlue">Expected output:</strong>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>total_sales</th>
      <th>avg_product_value</th>
    </tr>
    <tr>
      <th>CustomerID</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12347</th>
      <td>4310.00</td>
      <td>23.681319</td>
    </tr>
    <tr>
      <th>12348</th>
      <td>1797.24</td>
      <td>57.975484</td>
    </tr>
    <tr>
      <th>12349</th>
      <td>1757.55</td>
      <td>24.076027</td>
    </tr>
    <tr>
      <th>12350</th>
      <td>334.40</td>
      <td>19.670588</td>
    </tr>
    <tr>
      <th>12352</th>
      <td>2506.04</td>
      <td>29.482824</td>
    </tr>
  </tbody>
</table>

## <span style="color:RoyalBlue">Exercise 1.4 - Customer-Level Cart Data</span>

In the Coding Section, we first aggregated cart data at the "cart-level." Now that we have **cart-level** cart data, all we need to do is roll up by CustomerID again to get **customer-level** cart data.

#### A.) Just as a refresher, display the first 5 observations from <code>cart_data</code>.

#### B.) Aggregate cart data by customer. Engineer 3 features:
* <code style="color:steelblue">'avg_cart_value'</code> - average cart value by customer.
* <code style="color:steelblue">'min_cart_value'</code> - minimum cart value by customer.
* <code style="color:steelblue">'max_cart_value'</code> - maximum cart value by customer.
* Let's name it <code style="color:crimson">agg_cart_data</code>.

<strong style="color:RoyalBlue">Expected output:</strong>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>avg_cart_value</th>
      <th>min_cart_value</th>
      <th>max_cart_value</th>
    </tr>
    <tr>
      <th>CustomerID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12347</th>
      <td>615.714286</td>
      <td>224.82</td>
      <td>1294.32</td>
    </tr>
    <tr>
      <th>12348</th>
      <td>449.310000</td>
      <td>227.44</td>
      <td>892.80</td>
    </tr>
    <tr>
      <th>12349</th>
      <td>1757.550000</td>
      <td>1757.55</td>
      <td>1757.55</td>
    </tr>
    <tr>
      <th>12350</th>
      <td>334.400000</td>
      <td>334.40</td>
      <td>334.40</td>
    </tr>
    <tr>
      <th>12352</th>
      <td>313.255000</td>
      <td>120.33</td>
      <td>840.30</td>
    </tr>
  </tbody>
</table>

## <span style="color:RoyalBlue">Exercise 1.5 - Merging the ABT</span>

Great, now you have multiple dataframes that each contain customer-level features. You have:
* <code style="color:crimson">invoice_data</code>
* <code style="color:crimson">product_data</code>
* <code style="color:crimson">sales_data</code>
* <code style="color:crimson">agg_cart_data</code>

Next, all you need to do is **join / merge** them all together.

#### A.) Join the various customer-level datasets together with the <code style="color:steelblue">.join()</code> function.
* Just pick one of the customer-level dataframes and join it to a list of the others.
* By default, it will join the dataframes on their <code style="color:steelblue">index</code>... In this case, it will join by CustomerID, which is exactly what we want.
* You can read more about the <code style="color:steelblue">.join()</code> function in the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.join.html" target="_blank">documentation</a>.

<strong style="color:RoyalBlue">Expected output:</strong>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>total_transactions</th>
      <th>total_products</th>
      <th>total_unique_products</th>
      <th>total_sales</th>
      <th>avg_product_value</th>
      <th>avg_cart_value</th>
      <th>min_cart_value</th>
      <th>max_cart_value</th>
    </tr>
    <tr>
      <th>CustomerID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12347</th>
      <td>7</td>
      <td>182</td>
      <td>103</td>
      <td>4310.00</td>
      <td>23.681319</td>
      <td>615.714286</td>
      <td>224.82</td>
      <td>1294.32</td>
    </tr>
    <tr>
      <th>12348</th>
      <td>4</td>
      <td>31</td>
      <td>22</td>
      <td>1797.24</td>
      <td>57.975484</td>
      <td>449.310000</td>
      <td>227.44</td>
      <td>892.80</td>
    </tr>
    <tr>
      <th>12349</th>
      <td>1</td>
      <td>73</td>
      <td>73</td>
      <td>1757.55</td>
      <td>24.076027</td>
      <td>1757.550000</td>
      <td>1757.55</td>
      <td>1757.55</td>
    </tr>
    <tr>
      <th>12350</th>
      <td>1</td>
      <td>17</td>
      <td>17</td>
      <td>334.40</td>
      <td>19.670588</td>
      <td>334.400000</td>
      <td>334.40</td>
      <td>334.40</td>
    </tr>
    <tr>
      <th>12352</th>
      <td>8</td>
      <td>85</td>
      <td>59</td>
      <td>2506.04</td>
      <td>29.482824</td>
      <td>313.255000</td>
      <td>120.33</td>
      <td>840.30</td>
    </tr>
  </tbody>
</table>

#### B.) Finally, let's save <code style="color:crimson">customer_df</code> as our analytical base table to use later.
* **Important:** We will not set <code style="color:steelblue">index=None</code> because we want to keep the CustomerID's as the index (this will be important when we get to Module 4).
* Save the file as <code style="color:crimson">'analytical_base_table.csv'</code>

Congratulations for making it through the Data Wrangling module! As a reminder, here are a few things you did in this module:
* You explored and cleaned the transaction-level dataset.
* You then rolled it up to the customer level, aggregating new features along the way.
* You also saw how intermediary groupby's can help you create otherwise tricky features.
* And you joined all of your customer-level datasets together into one analytical base table.

In the next module, we'll see how trying to include features for individual items can raise new challenges (i.e. The Curse of Dimensionality). We'll also introduce you to the first of 2 recommended solutions: thresholding.